<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>home</title>
    <meta name="author" content="yinqi">
    <link href="css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="./css/angular.min.js"></script>
    <style>
        .title {
            font-size: 14px;
            padding: 20px;
        }

        .title a {
            margin-left: 50px;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .box .form-group {
            width: 50%;
        }

        .form-group {
            margin-top: 30px;
        }

        .box1 {
            display: flex;
            margin: 10px;
        }

        .box1 .row {
            margin: 0 10px;
        }
    </style>
</head>

<body>
    <div class="lyear-layout-web" ng-app="App" ng-controller="Ctrl">
        <div class="lyear-layout-container">
            <!--  Navigation link -->
            <div class="title">
                <a href="index.html">Home Page</a>
                <a href="criteria.html">Fundraisers Page</a>
                <a href="search.html">Details Page</a>
                <a href="donation.html">Donation Page</a>
                <a href="admin.html">Admin Page</a>
            </div>
            <div class="container-fluid">
                <div class="box1">
                    <div class="row">
                        <div class="row1">FUNDRAISER_ID:</div>
                        <input type="text" ng-model="FUNDRAISER_ID">
                    </div>
                    <div class="row">
                        <div class="row1">ORGANIZER:</div>
                        <input type="text" ng-model="ORGANIZER">
                    </div>
                    <div class="row">
                        <div class="row1">CAPTION:</div>
                        <input type="text" ng-model="CAPTION">
                    </div>
                    <div class="row">
                        <div class="row1">TARGET_FUNDING:</div>
                        <input type="text" ng-model="TARGET_FUNDING">
                    </div>
                    <div class="row">
                        <div class="row1">CURRENT_FUNDING:</div>
                        <input type="text" ng-model="CURRENT_FUNDING">
                    </div>
                </div>
                <div class="box1">
                    <div class="row">
                        <div class="row1">CITY:</div>
                        <input type="text" ng-model="CITY">
                    </div>
                    <div class="row">
                        <div class="row1">ACTIVE:</div>
                        <input type="text" ng-model="ACTIVE">
                    </div>
                    <div class="row">
                        <div class="row1">CATEGORY_ID:</div>
                        <select style="width: 150px;" ng-model="CATEGORY_ID">
                            <option ng-repeat="x in CATEGORY_IDs" value="{{x.CATEGORY_ID}}">{{x.NAME}}
                            </option>
                        </select>
                    </div>
                    <button type="button" ng-show="buttontype == 'add'" ng-click="Add()"
                        style="margin-left: 20px;margin-top: 20px;background-color: #f00;">{{buttontype}}</button>
                    <button type="button" ng-show="buttontype == 'update'" ng-click="update()"
                        style="margin-left: 20px;margin-top: 20px;background-color: #f00;">{{buttontype}}</button>
                </div>
                <div class="box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>FUNDRAISER_ID</th>
                                <th>ORGANIZER</th>
                                <th style="width: 300px;">CAPTION</th>
                                <th>TARGET_FUNDING</th>
                                <th>CURRENT_FUNDING</th>
                                <th>CITY</th>
                                <th>ACTIVE</th>
                                <th>CATEGORY_ID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list">

                                <td>{{item.FUNDRAISER_ID}}
                                </td>
                                <td>{{item.ORGANIZER}}</td>
                                <td style="width: 30%;">{{item.CAPTION}}</td>
                                <td>{{item.TARGET_FUNDING}}</td>
                                <td>{{item.CURRENT_FUNDING}}</td>
                                <td>{{item.CITY}}</td>
                                <td>{{item.ACTIVE}}</td>
                                <td>{{item.CATEGORY_ID}}</td>
                                <td>
                                    <button type="button" ng-click="updatebefore(item)"
                                        style="background-color: #f00;">UPDATE</button>
                                    <button type="button" ng-click="delete(item)"
                                        style="background-color: #f00;">DELETE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var app = angular.module('App', []);
        app.controller('Ctrl', function ($scope, $http) {
            $scope.paraminit = location.search ? location.search.split('?') : ''
            $scope.buttontype = 'add'
            $http.get("http://localhost:9001/api/getCategoriesList")
                .success(function (response) {
                    $scope.CATEGORY_IDs = response;
                });

            $scope.initlist = function () {
                $http.get(`http://localhost:9001/api/getFundraisersList`)
                    .success(function (response) {
                        $scope.list = response;
                    });
            }
            $scope.initlist()
            $scope.Add = function () {
                $http.post(`http://localhost:9001/api/addFundraiser`, {
                    "FUNDRAISER_ID": $scope.FUNDRAISER_ID,
                    "ORGANIZER": $scope.ORGANIZER,
                    "CAPTION": $scope.CAPTION,
                    "TARGET_FUNDING": $scope.TARGET_FUNDING,
                    "CURRENT_FUNDING": $scope.CURRENT_FUNDING,
                    "CITY": $scope.CITY,
                    "ACTIVE": $scope.ACTIVE,
                    "CATEGORY_ID": $scope.CATEGORY_ID,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .success(function (response) {
                        alert(`add success`)
                        $scope.initlist()
                    });
            }
            $scope.updatebefore = function (param) {
                $scope.FUNDRAISER_ID = param.FUNDRAISER_ID
                $scope.ORGANIZER = param.ORGANIZER
                $scope.CAPTION = param.CAPTION
                $scope.TARGET_FUNDING = param.TARGET_FUNDING
                $scope.CURRENT_FUNDING = param.CURRENT_FUNDING
                $scope.CITY = param.CITY
                $scope.ACTIVE = param.ACTIVE
                $scope.CATEGORY_ID = param.CATEGORY_ID
                $scope.buttontype = 'update'
            }
            $scope.update = function () {
                $http.put(`http://localhost:9001/api/updateFundraiser`, {
                    "FUNDRAISER_ID": $scope.FUNDRAISER_ID,
                    "ORGANIZER": $scope.ORGANIZER,
                    "CAPTION": $scope.CAPTION,
                    "TARGET_FUNDING": $scope.TARGET_FUNDING,
                    "CURRENT_FUNDING": $scope.CURRENT_FUNDING,
                    "CITY": $scope.CITY,
                    "ACTIVE": $scope.ACTIVE,
                    "CATEGORY_ID": $scope.CATEGORY_ID,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .success(function (response) {
                        alert(`update success`)
                        $scope.initlist()
                    });
            }
            $scope.delete = function (row) {
                $http.get(`http://localhost:9001/api/getDonationsByFUNDRAISERID?FUNDRAISER_ID=${row.FUNDRAISER_ID}`)
                    .success(function (response) {
                        if (!response.length) {
                            $http.delete(`http://localhost:9001/api/deleteFundraiser?FUNDRAISER_ID=${row.FUNDRAISER_ID}`)
                                .success(function (response) {
                                    alert(`delete success`)
                                    $scope.initlist()
                                });
                        } else {
                            alert('Only fundraisers that do not have donations yet can be deleted')
                        }
                    });

            }
        });

    </script>
</body>

</html>